<div>
    <style>
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: #a8e6ff56;
        }

        .modal-content {
            background-color: #0f172a;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #141313;
            width: 50%;
            box-shadow: 5px 10px 8px #141313;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #34aae0;
            text-decoration: none;
            cursor: pointer;
        }

        .scrollbar {
            overflow-y: scroll;
        }

        .scrollbar::-webkit-scrollbar {
            width: 5px;
        }

        .scrollbar::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }

        .scrollbar::-webkit-scrollbar-thumb {
            background: #34aae0;
            border-radius: 10px;
        }

        .scrollbar::-webkit-scrollbar-thumb:hover {
            background: #1e8fc3;
        }
    </style>
    <div class="bg-[#0f172a] h-screen overflow-hidden ">
        <div class="flex shadow-lg shadow-black h-32 items-center ">
            <div class="w-1/3  m-5 space-y-4">
                <h1 class="text-3xl font-semibold  text-[#34aae0]"> {{currentDate}}</h1>
                <h1 class="text-2xl  text-[#34aae0] tracking-wider font-extralight ">{{tasks.length}} Active task</h1>
            </div>

            <div class="w-1/3">
                <h1 class="text-5xl font-bold text-center text-[#34aae0]">To do list</h1>
            </div>
        </div>

        <div>
            <div class="flex m-4 justify-center mt-24 w-full">
                <input class="bg-[#34aae0] p-3 rounded-lg w-3/12 text-black text-lg text-bold m-3" type="text"
                    placeholder="Add task..." ng-model="newTask" />

                <button
                    class="bg-[#34aae0] p-3 text-xl font-bold w-1/12 rounded-lg m-3 hover:bg-[#1e8fc3] hover:shadow-md hover:shadow-black hover:text-white"
                    ng-click="addTask()">
                    ADD
                </button>
            </div>
            <h1 class="text-red-500 text-center">{{errorMsg}}</h1>
            <div class="flex justify-center mt-16">
            <h2  ng-if="tasks.length==0" class="text-[#34aae0] text-2xl font-semibold py-2">No tasks found</h2>
                <ul ng-if="tasks.length > 0"
                    class="divide-y divide-slate-500  rounded-lg  w-7/12 border-2 border-sky-500 items-center m-4 max-h-80  scrollbar">
                    <li class="flex hover:bg-[#1e8fc3]" ng-repeat="t in tasks">
                        <div class="text-white w-full p-4 text-xl">{{t.task}}</div>
                        <div class="w-1/12 flex justify-center items-center ">
                            <a ng-click="openModal(t)">
                                <svg class="rounded-full bg-[#cccccc] hover:bg-red-700 p-1 hover:shadow-black hover:shadow-md"
                                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40"
                                    viewBox="0 0 30 30">
                                    <path
                                        d="M24 11l2.414-2.414c.781-.781.781-2.047 0-2.828l-2.172-2.172c-.781-.781-2.047-.781-2.828 0L19 6 24 11zM17 8L5.26 19.74C7.886 19.427 6.03 21.933 7 23c.854.939 3.529-.732 3.26 1.74L22 13 17 8zM4.328 26.944l-.015-.007c-.605.214-1.527-.265-1.25-1.25l-.007-.015L4 23l3 3L4.328 26.944z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                        <div class="w-1/12 flex justify-center items-center">
                            <button ng-click="removeTask(t)">
                                <svg class="rounded-full bg-[#cccccc] hover:bg-red-700 hover:shadow-black hover:shadow-md p-1"
                                    xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M 10 2 L 9 3 L 3 3 L 3 5 L 4.109375 5 L 5.8925781 20.255859 L 5.8925781 20.263672 C 6.023602 21.250335 6.8803207 22 7.875 22 L 16.123047 22 C 17.117726 22 17.974445 21.250322 18.105469 20.263672 L 18.107422 20.255859 L 19.890625 5 L 21 5 L 21 3 L 15 3 L 14 2 L 10 2 z M 6.125 5 L 17.875 5 L 16.123047 20 L 7.875 20 L 6.125 5 z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="editTaskModal" class="modal w-2/5 ">
        <div class="modal-content  ">
            <span class="close" ng-click="closeModal()">&times;</span>
            <h2 class="text-[#34aae0] text-2xl font-semibold py-2">Edit Task : </h2>
            <input ng-model="taskk" class="p-2 w-3/5 border border-gray-300 rounded-lg" type="text "
                placeholder="Edit task..." />
            <button ng-click="saveEditedTask()"
                class="bg-[#34aae0] p-2  text-xl font-bold rounded-lg mx-2  my-3 hover:bg-[#1e8fc3] hover:shadow-md hover:shadow-black hover:text-white">Save
                Changes</button>
            <p class="text-red-600 text-center text-bold">{{errorMsg}}</p>

        </div>
    </div>
</div>